{% extends 'base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}
<style>
    .selection {
        display: flex;
        float:right;
        align-items: center;
        margin-bottom: 20px;
        margin-right:50px;
      }
      
      .selection label {
        font-weight: bold;
        margin-right: 10px;
      }
      
      .selection select {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
        
      
      select:hover{
        cursor: pointer;
      }
</style>
<section class="content">
    <div class="container-fluid">
        {% comment %} <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>

                    {% include "login/form.html" with messages=messages  form=form button_text="Add Testimonial"%}
                </div> {% endcomment %}
                <!-- /.card -->

<div class="card card-default">
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-dark"style="float:right;">
            <div class="card-header">
              <a class="btn btn-primary" href="{% url 'add_testimonial' %}"><i class="fas fa-plus"></i>Add</a>
            </div>
          </div>
        </div>
      </div>
    <div class="card-header"><h3 class="card-title"><b>Testimonials</b></h3>
        
            <form method="get">
                {% csrf_token %}
                <div class="selection">
                <label>Filter: </label>
                <select name="status" onchange="this.form.submit()">
                    <option value="">All</option>
                    <option value="pending" {% if request.GET.status == 'pending' %}selected{% endif %}>Pending</option>
                    <option value="approved" {% if request.GET.status == 'approved' %}selected{% endif %}>Approved</option>
                    <option value="rejected" {% if request.GET.status == 'rejected' %}selected{% endif %}>Rejected</option>
                  </select>
                </div>
              </form>
            

       <table class="table">
           <thead>
            <tr>
                <th>S.N.</th>
                <th>Image</th>
                <th>Description</th>
                <th>Status</th>
         </tr>
           </thead>
           <tbody>
        {% for testimonial in testimonials %}
        <tr>
            
            <td>{{forloop.counter}}</td>
            <td>
                <img class="img img-fluid mb-2" height="100" width="100" src="{{testimonial.image.url}}" alt="">
            </td>
            <td>{{testimonial.description|safe}}</td>
              <td>
                  
                  {% if testimonial.status == -1 %}
                  <span class="btn btn-danger">Rejected</span>
                  {% elif testimonial.status == 1 %}
                  <span class="btn btn-success">Accepted</span>
                  
                    {% else %}
                    <span class="btn btn-warning">Pending</span>
                    
                    {% endif %}
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}