{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<style>
.custome-box{
	max-width: 700px;
	background-color: #0daed6;
	margin:40px auto;
	padding: 30px;
	border-radius: 10px;
	animation: fadeInRight 1s ease;
}

input{
	padding: 15px 45px;
	background-color: #08825f;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight:bold;
  }
  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }
  select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }
</style>

    <form action="{% url 'start_test' session_id subject_id %}" method="post">
        {% csrf_token %}
        <div class="custome-box">
            <h3 align="center">You can take the test according to the level i.e. Easy or Difficult</h3>
            <hr class="my-1">	<br>       
            <label>Select Level</label>
            <select id="select_level" name="select_level">
                <option value="">-------</option>
                <option value="Easy">Easy</option>
                <option value="Difficult">Difficult</option>
            </select>
            <input type="submit" value="Start Test">
        </div>
    </form>

{% endblock content %}


