{% extends 'base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

{% comment %} <section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>

                    {% include "login/form.html" with messages=messages  form=form button_text="Apply For Leave"%}
                </div> {% endcomment %}
                <!-- /.card -->

<div class="card card-default">
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-dark"style="float:right;">
            <div class="card-header">
              <a class="btn btn-primary" href="{% url 'student_apply_leave' %}"><i class="fas fa-plus"></i>Apply Leave</a>
            </div>
          </div>
        </div>
      </div>
    <div class="card-header"><h3 class="card-title"><b>Leave History</b></h3>
   <div class="table">

       <table class="table table-bordered table-hover">
           <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Message</th>
             <th>Status</th>
         </tr>
           </thead>
        {% for leave in leave_history %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{leave.start_date}}</td>
            <td>{{leave.end_date}}</td>
            <td>{{leave.reason|safe}}</td>
              <td>
                  
                  {% if leave.status == 0 %}
                  <span class="btn btn-warning">Pending</span>
                  {% elif leave.status == 1 %}
                  <span class="btn btn-success">Accepted</span>
                  
                    {% else %}
                    <span class="btn btn-danger">Rejected</span>
                    
                    {% endif %}
                    
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}