{% extends "registration/base.html" %}
{% block content %}

{% if validlink %}
    <div class="card-body login-card-body">
        <p class="login-box-msg">Reset Password</p>
        <form action="" method="post">
            {% csrf_token %}
            {% for field in  form %}
            <div class="txt_field">
                {{field.errors}}
                {{field.label_tag}}
                <input type="text" name="{{ field.html_name }}" class='form-control' id="{{ field.id_for_label }}">
            </div>
            {% endfor %}
            <button type="submit" class='btn btn-primary'>Submit</button>
        </form>

        <p class="mb-1">
            <a href="{% url 'loginpage' %}">Login Instead</a>
        </p>
    </div>
{% else %}
    <div class="card-body login-card-body">
        <p class="login-box-msg">Link Not Found</p>
        <p class="mb-1">
            The reset link you have followed is invalid. Please request a new password reset link !!
        </p>

    </div>
{% endif %}


{% endblock content %}