{% extends 'base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}
<style>
    input{
        width: 15%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 10px;
        margin-left:0.5%;
    }
    input[type="text"], select {
        width: 35%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 10px;
        margin-left:2%;
      }
      select{
        width:12%
      }
      select:hover{
        cursor: pointer;
      }
      option:hover{
        cursor: pointer;
      }
      button[type="submit"] {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
        font-weight: bold;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        cursor: pointer;
      }
      label {
        {% comment %} display: flex; {% endcomment %}
        {% comment %} float:right; {% endcomment %}
        {% comment %} align-items: center;
        margin-bottom: 20px; {% endcomment %}
        {% comment %} margin-left:85%; {% endcomment %}
        {% comment %} margin-top:-3%; {% endcomment %}
        font-weight: bold;
        {% comment %} margin-right: 10px; {% endcomment %}
      }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                        <form method="get">
                            {% csrf_token %}
                            <div class="selection">

                                <input type="text" name="q" placeholder="Search...">
                                <button type="submit">Search</button>

                                <input type="date" name="start_date" id="start_date"> -
                                <input type="date" name="end_date" id="end_date">
                                {% comment %} <label>Filter: </label> {% endcomment %}
                                <select name="status" onchange="this.form.submit()">
                                <option value="">All</option>
                                <option value="pending" {% if request.GET.status == 'pending' %}selected{% endif %}>Pending</option>
                                <option value="approved" {% if request.GET.status == 'approved' %}selected{% endif %}>Approved</option>
                                <option value="rejected" {% if request.GET.status == 'rejected' %}selected{% endif %}>Rejected</option>
                              </select>
                            </div>
                          </form>
                    </div>

                    <div class="table">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>S.N.</th>
                                <th>Student Name</th>
                                <th>Message</th>
                                <th>Leave Date</th>
                                <th>Submitted On</th>
                                <th>Status</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        {% for students in student %}
                            {% for leave in  allLeave %}
                            {% if leave.student == students %}
                              <tr>
                                  <td>{{forloop.counter}}</td>
                                  <td>{{leave.student}}</td>
                                  <td>{{leave.reason}}</td>
                                  <td>From {{leave.start_date}} to {{leave.end_date}}</td>
                                  

                                  <td>{{leave.created_at}}</td>
                                  <td>
                                    {% if leave.status == 1 %}
                                    <div style="background:green;">
                                        <h6 style='text-align:center;'>Approved</h3>
                                    </div>
                                    
                                    {% elif leave.status == -1 %}
                                    <div style="background:red;">
                                        <h6 style='text-align:center;'>Rejected</h3>
                                    </div>
                                    
                                    {% else %}
                                    <div style="background:yellow;">
                                        <h6 style='text-align:center;'>Pending</h3>
                                    </div>
                                    {% endif %}
                                  </td>
                                  <td>

                                    {% if leave.status == 0 %}
                                    <form method="post" action="#" id="myForm">
                                        <input type="hidden" name="id" value="{{ leave.id }}">
                                        <button type="submit" name="status" value="1" id="approve-button">Approve</button>
                                        <button type="submit" name="status" value="-1" id="reject-button" style='background-color:red;'>Reject</button>
                                    </form>
                                    {% endif %}
                                     </td>
                                  
                                      
                                    
                       
                              </tr>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </table>
                    </div>
                    </div>
                <!-- /.card -->

            </div>
        </div>
    </div>
</section>

{% endblock content %}
{% block custom_js %}
{% comment %} <script>
    var approveButtons = document.querySelectorAll("button[name='status'][value='1']");
    var rejectButtons = document.querySelectorAll("button[name='status'][value='-1']");
    approveButtons.forEach(function(button) {
        button.addEventListener("click", function(e) {
            e.preventDefault();
            var form = button.closest("form");
            var id = form.elements["id"].value;
            alert("Leave request has been approved.");
            //form.submit();
            
        });
    });
    rejectButtons.forEach(function(button) {
        button.addEventListener("click", function(e) {
            e.preventDefault();
            var form = button.closest("form");
            var id = form.elements["id"].value;
            alert("Leave request has been rejected.");
            //form.submit();
            button.innerHTML = "Rejected";
        });
    });
</script>  {% endcomment %}

<script>
    $(document).ready(function(){
        var buttons = document.querySelectorAll("button[name='status']");
        buttons.forEach(function(button) {
            button.addEventListener("click", function(e) {
                e.preventDefault();
                var form = button.closest("form");
                var id = form.elements["id"].value;
                if(button.value == "1"){
                  alert("Leave request has been approved.");
                  //form.submit();
                  button.innerHTML = "Approved";
                  
                }
                else if(button.value == "-1"){
                  alert("Leave request has been rejected.");
                  //form.submit();
                  button.innerHTML = "Rejected";
                }
            });
        });
    });
</script>






{% endblock custom_js %}