{% extends 'base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Day</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th>Class</th>
                                    <th>Teacher</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for class_schedule in timetable %}
                                <tr>
                                    <td>{{ class_schedule.day }}</td>
                                    {% comment %} <td>{{ class_schedule.start_time|time: "H:i" }}</td>
                                    <td>{{ class_schedule.end_time|time: "H:i" }}</td> {% endcomment %}
                                    <td>{{ class_schedule.class_name }}</td>
                                    <td>{{ class_schedule.teacher }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}


