{% load widget_tweaks %}
<style>
    label {
        margin-bottom: 3px;
    }
    input,textarea,select{
        margin-bottom: 10px;
    }
</style>

<form id="myForm" role="form" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
    {% csrf_token %}
    {{form.media}}
    <div class="card-body">
        {% for field in form  %}
        <div class="form-group">
            {% if field.field.required %}
            <label for="{{ field.id_for_label }}">{{ field.label_tag }} <span class="text-danger">*</span></label>
            {% else %}
            {{ field.label_tag }}
            {% endif %}
            {{ field }}
            {% if field.errors %}
                <div class="text-danger">{{ field.label }} is required.</div>
            {% endif %}
            <div class="text-danger" id="{{ field.auto_id }}_error"></div>
        </div>
        {% endfor %}
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-success btn-block">
            {% if button_text %}
            {{button_text}}
            {% else %}
            Submit
            {% endif %}
        </button>
    </div>
</form>

<script>
    var formFields = document.querySelectorAll('form input, form select, form textarea');
    for (var i = 0; i < formFields.length; i++) {
        formFields[i].removeAttribute('required');
    }
</script>


