<style>
    label {
        margin-bottom: 3px;
    }
    input,textarea,select{
        margin-bottom: 10px;
    }
</style>

<form role="form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.media}}
    <div class="card-body">


        {% for field in form  %}
        <div class="form-group">
            {% if field.field.required %}
            <label for="{{ field.id_for_label }}">{{ field.label_tag }} <span class="text-danger">*</span></label>
            {% else %}
            {{ field.label_tag }}
            {% endif %}
            {% comment %} {{field.label_tag}} {% endcomment %}
            {{field}}
            {% if field.errors %}
                <div class="text-danger">{{ field.label_tag }} {{ field.errors }}</div>
            {% endif %}
            

        </div>
        {% endfor %}




    </div>
    <!-- /.card-body -->

    <div class="card-footer">
        <button type="submit" class="btn btn-success btn-block">
            {% if button_text %}
            {{button_text}}
            {% else %}
            Submit
            {% endif %}

        </button>
    </div>
</form>