{% load static %}
<aside class="main-sidebar sidebar-dark-info elevation-4">
    {% if request.user.user_type == '1' %}
    <a href="{% url 'admin_home_page' %}" class="brand-link"></a>
    <a href="#" class="brand">
        <span class="homeicon">
            <ion-icon name="logo-apple-appstore"></ion-icon>
        </span>
        Admin Panel
    </a>
    <ul class="side-menu">
        <li>
            {% url 'admin_home_page' as admin_home_page %}
            <a href="{{admin_home_page}}" class="nav-link {% if admin_home_page == request.path %} active {% endif %}">
                <span class="icon">
                    <ion-icon name="home-sharp"></ion-icon>
                </span>
                <span class="title">Home</span>
            </a>
         </li>
        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="school-sharp"></ion-icon>
                </span>
                <span class="title">Class</span>
                <span class="icon-right">
                    <ion-icon name="caret-forward-sharp"></ion-icon>
                </span>
            </a>

            <ul class="side-dropdown">
                <li>
                    {% url 'add_class' as add_class %}
                    <a href="{{add_class}}" class="nav-link {% if add_class == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="add-circle-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Add Class</span>
                    </a>   
                </li>
                <li>
                    {% url 'manage_class' as manage_class %}
                    <a href="{{manage_class}}"class="nav-link {% if manage_class == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="newspaper-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Manage Class</span>
                    </a>   
                </li>
                
            </ul>
        </li>
        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="time-sharp"></ion-icon>
                </span>
                <span class="title">Session</span>
                <span class="icon-right">
                    <ion-icon name="caret-forward-sharp"></ion-icon>
                </span>
            </a>

            <ul class="side-dropdown">
                <li>
                    {% url 'add_session' as add_session %}
                    <a href="{{add_session}}" class="nav-link {% if add_session == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="add-circle-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Add Session</span>
                    </a>   
                </li>
                <li>
                    {% url 'manage_session' as manage_session %}
                    <a href="{{manage_session}}"class="nav-link {% if manage_session == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="newspaper-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Manage Session</span>
                    </a>   
                </li>
                
            </ul>
        </li>
        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="apps"></ion-icon>
                </span>
                <span class="title">Section</span>
                <span class="icon-right">
                    <ion-icon name="caret-forward-sharp"></ion-icon>
                </span>
            </a>

            <ul class="side-dropdown">
                <li>
                    {% url 'add_section' as add_section %}
                    <a href="{{add_section}}" class="nav-link {% if add_section == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="add-circle-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Add Section</span>
                    </a>   
                </li>
                <li>
                    {% url 'manage_section' as manage_section %}
                    <a href="{{manage_section}}"class="nav-link {% if manage_section == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="newspaper-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Manage Section</span>
                    </a>   
                </li>
                
            </ul>
        </li>
        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="apps-sharp"></ion-icon>
                </span>
                <span class="title">Subject</span>
                <span class="icon-right">
                    <ion-icon name="caret-forward-sharp"></ion-icon>
                </span>
            </a>

            <ul class="side-dropdown">
                <li>
                    {% url 'add_subject' as add_subject %}
                    <a href="{{add_subject}}" class="nav-link {% if add_subject == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="add-circle-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Add Subject</span>
                    </a>   
                </li>
                <li>
                    {% url 'manage_subject' as manage_subject %}
                    <a href="{{manage_subject}}"class="nav-link {% if manage_subject == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="newspaper-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Manage Subject</span>
                    </a>   
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="person-sharp"></ion-icon>
                </span>
                <span class="title">Teacher</span>
                <span class="icon-right">
                    <ion-icon name="caret-forward-sharp"></ion-icon>
                </span>
            </a>

            <ul class="side-dropdown">
                <li>
                    {% url 'add_teacher' as add_teacher %}
                    <a href="{{add_teacher}}" class="nav-link {% if add_teacher == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="add-circle-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Add Teacher</span>
                    </a>   
                </li>
                <li>
                    {% url 'manage_teacher' as manage_teacher %}
                    <a href="{{manage_teacher}}" class="nav-link {% if manage_teacher == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="newspaper-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Manage Teacher</span>
                    </a>   
                </li>
                
            </ul>
        </li>
        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="people-sharp"></ion-icon>
                </span>
                <span class="title">Student</span>
                <span class="icon-right">
                    <ion-icon name="caret-forward-sharp"></ion-icon>
                </span>
            </a>

            <ul class="side-dropdown">
                <li>
                    {% url 'add_student' as add_student %}
                    <a href="{{add_student}}" class="nav-link {% if add_student == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="add-circle-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Add Student</span>
                    </a>   
                </li>
                <li>
                    {% url 'manage_student' as manage_student %}
                    <a href="{{manage_student}}" class="nav-link {% if manage_student == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="newspaper-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Manage Student</span>
                    </a>   
                </li>
                
            </ul>
        </li>
        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="person-sharp"></ion-icon>
                </span>
                <span class="title">Assign Teacher</span>
                <span class="icon-right">
                    <ion-icon name="caret-forward-sharp"></ion-icon>
                </span>
            </a>

            <ul class="side-dropdown">
                <li>
                    {% url 'assign_teacher' as assign_teacher %}
                    <a href="{{assign_teacher}}" class="nav-link {% if assign_teacher == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="add-circle-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Assign Teacher</span>
                    </a>   
                </li>
                <li>
                    {% url 'manage_assign_teacher' as manage_assign_teacher %}
                    <a href="{{manage_assign_teacher}}" class="nav-link {% if manage_assign_teacher == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="newspaper-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Assigned Teacher</span>
                    </a>   
                </li>
                
            </ul>
        </li>
        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="book-sharp"></ion-icon>
                </span>
                <span class="title">Book</span>
                <span class="icon-right">
                    <ion-icon name="caret-forward-sharp"></ion-icon>
                </span>
            </a>

            <ul class="side-dropdown">
                <li>
                    {% url 'add_book' as add_book %}
                    <a href="{{add_book}}" class="nav-link {% if add_book == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="add-circle-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Add Book</span>
                    </a>   
                </li>
                <li>
                    {% url 'manage_book' as manage_book %}
                    <a href="{{manage_book}}" class="nav-link {% if manage_book == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="newspaper-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Manage Book</span>
                    </a>   
                </li>
                
            </ul>
        </li>
        
         <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="chatbubbles-sharp"></ion-icon>
                </span>
                <span class="title">Feedback</span>
            </a>
         </li>
         <li>
            {% url 'admin_view_attendance' as admin_view_attendance %}
            <a href="{{admin_view_attendance}}" class="nav-link {% if sadmin_view_attendance == request.path %} active {% endif %}">
                <span class="icon">
                    <ion-icon name="today-sharp"></ion-icon>
                </span>
                <span class="title">Attendance</span>
            </a>
        </li>
         <li>
            {% url 'teacher_check_leave' as teacher_check_leave %}
            <a href="{{teacher_check_leave}}" class="nav-link {% if teacher_check_leave == request.path %} active {% endif %}">
                <span class="icon">
                    <ion-icon name="walk-sharp"></ion-icon>
                </span>
                <span class="title">Teacher Leave</span>
            </a>
        </li>
        <li>
            {% url 'student_check_leave' as student_check_leave %}
            <a href="{{student_check_leave}}" class="nav-link {% if student_check_leave == request.path %} active {% endif %}">
                <span class="icon">
                    <ion-icon name="walk-sharp"></ion-icon>
                </span>
                <span class="title">Student Leave</span>
            </a>
        </li>
         <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="megaphone-sharp"></ion-icon>
                </span>
                <span class="title">Notice</span>
                <span class="icon-right">
                    <ion-icon name="caret-forward-sharp"></ion-icon>
                </span>
            </a>
            <ul class="side-dropdown">
                <li>
                    {% url 'add_notice' as add_notice %}
                    <a href="{{add_notice}}" class="nav-link {% if add_notice == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="add-circle-sharp"></ion-icon>
                        </span>
                        <span class="title">Add Notice</span>
                    </a>
                </li>
                <li>
                    {% url 'view_notice' as view_notice %}
                    <a href="{{view_notice}}" class="nav-link {% if view_notice == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="newspaper-sharp"></ion-icon>
                        </span>
                        <span class="title">Manage Notice</span>
                    </a>
                </li>
                
            </ul>
        </li>

        <li>
            {% url 'view_timetable' as view_timetable %}
            <a href="{{view_timetable}}" class="nav-link {% if view_timetable == request.path %} active {% endif %}">
                <span class="icon">
                    <ion-icon name="timer-sharp"></ion-icon>
                </span>
                <span class="title">Time Table</span>
            </a>
         </li>
         <li>
            {% url 'testimonial' as testimonial %}
            <a href="{{testimonial}}" class="nav-link {% if testimonial == request.path %} active {% endif %}">
                <span class="icon">
                    <ion-icon name="thumbs-up-sharp"></ion-icon>
                </span>
                <span class="title">Testimonials</span>
            </a>
         </li>

         <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="globe-sharp"></ion-icon>
                </span>
                <span class="title">Website</span>
                <span class="icon-right">
                    <ion-icon name="caret-forward-sharp"></ion-icon>
                </span>
            </a>
            <ul class="side-dropdown">
                <li>
                    {% url 'manage_home_page' as manage_home %}
                    <a href="{{manage_home}}" class="nav-link {% if manage_home == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="storefront-sharp"></ion-icon>
                        </span>
                        <span class="title">Home</span>
                    </a>
                 </li>
                 <li>
                    {% url 'manage_about_page' as manage_about %}
                    <a href="{{manage_about}}" class="nav-link {% if manage_about == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="logo-apple-appstore"></ion-icon>
                        </span>
                        <span class="title">About</span>
                    </a>
                 </li>
                 <li>
                    {% url 'manage_bod_page' as manage_bod %}
                    <a href="{{manage_bod}}" class="nav-link {% if manage_bod == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="people-sharp"></ion-icon>
                        </span>
                        <span class="title">BOD</span>
                    </a>
                 </li>
                
            </ul>
        </li>



         
         <li>
            {% url 'admin_profile' as admin_profile %}
            <a href="{{admin_profile}}" class="nav-link {% if admin_profile == request.path %} active {% endif %}">
            {% comment %} <a href="#"> {% endcomment %}
                <span class="icon">
                    <ion-icon name="settings-sharp"></ion-icon>
                </span>
                <span class="title">Setting</span>
            </a>
         </li>
         

    </ul>
    {% elif request.user.user_type == '2' %}
    <a href="{% url 'teacher_home_page' %}" class="brand-link"></a>
    <a href="#" class="brand">
        <span class="homeicon">
            <ion-icon name="logo-apple-appstore"></ion-icon>
        </span>
        Teacher Panel
    </a>
    <ul class="side-menu">
        <li>
            {% url 'teacher_home_page' as teacher_home_page %}
            <a href="{{teacher_home_page}}" class="nav-link {% if teacher_home_page == request.path %} active {% endif %}">
                <span class="icon">
                    <ion-icon name="home-sharp"></ion-icon>
                </span>
                <span class="title">Home</span>
            </a>
         </li>
         <li>
            {% url 'manage_notes_batch' as manage_notes %}
            <a href="{{manage_notes}}" class="nav-link {% if manage_notes == request.path %} active {% endif %}">
                <span class="icon">
                    <ion-icon name="create-sharp"></ion-icon>
                </span>
                <span class="title">Notes</span>
            </a>
         </li>
         <li>
            {% url 'manage_question' as manage_question %}
            <a href="{{manage_question}}" class="nav-link {% if manage_question == request.path %} active {% endif %}">
                <span class="icon">
                    <ion-icon name="help-circle-sharp"></ion-icon>
                </span>
                <span class="title">Questions</span>
                
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="book-sharp"></ion-icon>
                </span>
                <span class="title">Book</span>
                <span class="icon-right">
                    <ion-icon name="caret-forward-sharp"></ion-icon>
                </span>
            </a>

            <ul class="side-dropdown">
                <li>
                    {% url 'add_book' as add_book %}
                    <a href="{{add_book}}" class="nav-link {% if add_book == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="add-circle-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Add Book</span>
                    </a>   
                </li>
                <li>
                    {% url 'manage_book' as manage_book %}
                    <a href="{{manage_book}}" class="nav-link {% if manage_book == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="newspaper-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Manage Book</span>
                    </a>   
                </li>
                
            </ul>
        </li>
        <li>
            {% url 'manage_attendance_class' as manage_attendance_class %}
            <a href="{{manage_attendance_class}}" class="nav-link {% if manage_attendance_class == request.path %} active {% endif %}">
                <span class="icon">
                    <ion-icon name="today-sharp"></ion-icon>
                </span>
                <span class="title">Attendance</span>
            </a>
        </li>
        <li>
            {% url 'view_notice' as view_notice %}
            <a href="{{view_notice}}" class="nav-link {% if view_notice == request.path %} active {% endif %}">
                <span class="icon">
                    <ion-icon name="megaphone-sharp"></ion-icon>
                </span>
                <span class="title">Notice</span>
            </a>
        </li>
        
        <li>
            {% url 'teacher_view_leave' as teacher_view_leave %}
            <a href="{{teacher_view_leave}}" class="nav-link {% if teacher_view_leave == request.path %} active {% endif %}">
                <span class="icon">
                    <ion-icon name="walk-sharp"></ion-icon>
                </span>
                <span class="title">Apply Leave</span>
            </a>
        </li>
        
        <li>
            {% url 'teacher_profile' as teacher_profile %}
            <a href="{{teacher_profile}}" class="nav-link {% if teacher_profile == request.path %} active {% endif %}">
            {% comment %} <a href="#"> {% endcomment %}
                <span class="icon">
                    <ion-icon name="settings-sharp"></ion-icon>
                </span>
                <span class="title">Setting</span>
            </a>
         </li>
    </ul>

    {% elif request.user.user_type == '3' %}
    <a href="{% url 'teacher_home_page' %}" class="brand-link"></a>
    <a href="#" class="brand">
        <span class="homeicon">
            <ion-icon name="logo-apple-appstore"></ion-icon>
        </span>
        Student Panel
    </a>
    <ul class="side-menu">
        <li>
            {% url 'view_notes' as view_notes %}
            <a href="{{view_notes}}" class="nav-link {% if view_notes == request.path %} active {% endif %}">
                <span class="icon">
                    <ion-icon name="create-sharp"></ion-icon>
                </span>
                <span class="title">Notes</span>
            </a>
        </li>
        <li>
            {% url 'manage_book' as manage_book %}
            <a href="{{manage_book}}" class="nav-link {% if manage_book == request.path %} active {% endif %}">
                <span class="icon">
                    <ion-icon name="book-sharp"></ion-icon>
                </span>
                <span class="title">Books</span>
                
            </a>

            
        </li>
        <li>
            {% url 'bookmark_book' as bookmark_book %}
            <a href="{{bookmark_book}}" class="nav-link {% if bookmark_book == request.path %} active {% endif %}">
            {% comment %} <a href="#"> {% endcomment %}
                <span class="icon">
                    <ion-icon name="bookmark-sharp"></ion-icon>
                </span>
                <span class="title">Bookmarks</span>
            </a>
         </li>
        <li>
            {% url 'student_view_question' as student_view_question %}
            <a href="{{student_view_question}}" class="nav-link {% if student_view_question == request.path %} active {% endif %}">
                <span class="icon">
                    <ion-icon name="help-circle-sharp"></ion-icon>
                </span>
                <span class="title">Questions</span>
                
            </a>
        </li>
        <li>
            {% url 'view_notice' as view_notice %}
            <a href="{{view_notice}}" class="nav-link {% if view_notice == request.path %} active {% endif %}">
                <span class="icon">
                    <ion-icon name="megaphone-sharp"></ion-icon>
                </span>
                <span class="title">Notice</span>
            </a>
        </li>
        <li>
            {% url 'student_view_leave' as student_view_leave %}
            <a href="{{student_view_leave}}" class="nav-link {% if student_view_leave == request.path %} active {% endif %}">
                <span class="icon">
                    <ion-icon name="walk-sharp"></ion-icon>
                </span>
                <span class="title">Apply Leave</span>
            </a>
        </li>
        <li>
            {% url 'manage_testimonial' as manage_testimonial %}
            <a href="{{manage_testimonial}}" class="nav-link {% if manage_testimonial == request.path %} active {% endif %}">
                <span class="icon">
                    <ion-icon name="share-sharp"></ion-icon>
                </span>
                <span class="title">Testimonials</span>
            </a>
         </li>
         <li>
            {% url 'student_view_attendance' as student_view_attendance %}
            <a href="{{student_view_attendance}}" class="nav-link {% if student_view_attendance == request.path %} active {% endif %}">
                <span class="icon">
                    <ion-icon name="today-sharp"></ion-icon>
                </span>
                <span class="title">Attendance</span>
            </a>
        </li>

        <li>
            {% url 'khalti_int' as khalti_int %}
            <a href="{{khalti_int}}" class="nav-link {% if khalti_int == request.path %} active {% endif %}">
                <span class="icon">
                    <ion-icon name="wallet-sharp"></ion-icon>
                </span>
                <span class="title">Payment</span>
            </a>
        </li>
        <li>
            {% url 'student_profile' as student_profile %}
            <a href="{{student_profile}}" class="nav-link {% if student_profile == request.path %} active {% endif %}">
                <span class="icon">
                    <ion-icon name="settings-sharp"></ion-icon>
                </span>
                <span class="title">Setting</span>
            </a>
         </li>
    </ul>
    <!-- /.content -->
    {% block content %}

    {% endblock content %}

    {% endif %}
    <ul class="side-menu">
        <li style="background: #990000;border-radius: 10px;">
            <a href="{% url 'user_logout' %}">
                <span class="icon">
                    <ion-icon name="log-out-sharp"></ion-icon>
                </span>
                <span class="title">Logout</span>
            </a>
        </li>
    </ul>
</aside> 