{% load static %}
<aside class="main-sidebar sidebar-dark-info elevation-4">
    {% if request.user.user_type == '1' %}
    <a href="{% url 'admin_home_page' %}" class="brand-link"></a>
    <a href="#" class="brand">
        <span class="homeicon">
            <ion-icon name="logo-apple-appstore"></ion-icon>
        </span>
        Admin Panel
    </a>
    <ul class="side-menu">
        <li>
            {% url 'admin_home_page' as admin_home_page %}
            <a href="{{admin_home_page}}" class="nav-link {% if admin_home_page == request.path %} active {% endif %}">
                <span class="icon">
                    <ion-icon name="home-sharp"></ion-icon>
                </span>
                <span class="title">Home</span>
            </a>
         </li>
        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="school-sharp"></ion-icon>
                </span>
                <span class="title">Class</span>
                <span class="icon-right">
                    <ion-icon name="caret-forward-sharp"></ion-icon>
                </span>
            </a>

            <ul class="side-dropdown">
                <li>
                    {% url 'add_class' as add_class %}
                    <a href="{{add_class}}" class="nav-link {% if add_class == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="add-circle-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Add Class</span>
                    </a>   
                </li>
                <li>
                    {% url 'manage_class' as manage_class %}
                    <a href="{{manage_class}}"class="nav-link {% if manage_class == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="newspaper-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Manage Class</span>
                    </a>   
                </li>
                
            </ul>
        </li>
        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="time-sharp"></ion-icon>
                </span>
                <span class="title">Session</span>
                <span class="icon-right">
                    <ion-icon name="caret-forward-sharp"></ion-icon>
                </span>
            </a>

            <ul class="side-dropdown">
                <li>
                    {% url 'add_session' as add_session %}
                    <a href="{{add_session}}" class="nav-link {% if add_session == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="add-circle-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Add Session</span>
                    </a>   
                </li>
                <li>
                    {% url 'manage_session' as manage_session %}
                    <a href="{{manage_session}}"class="nav-link {% if manage_session == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="newspaper-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Manage Session</span>
                    </a>   
                </li>
                
            </ul>
        </li>
        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="apps"></ion-icon>
                </span>
                <span class="title">Section</span>
                <span class="icon-right">
                    <ion-icon name="caret-forward-sharp"></ion-icon>
                </span>
            </a>

            <ul class="side-dropdown">
                <li>
                    {% url 'add_section' as add_section %}
                    <a href="{{add_section}}" class="nav-link {% if add_section == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="add-circle-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Add Section</span>
                    </a>   
                </li>
                <li>
                    {% url 'manage_section' as manage_section %}
                    <a href="{{manage_section}}"class="nav-link {% if manage_section == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="newspaper-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Manage Section</span>
                    </a>   
                </li>
                
            </ul>
        </li>
        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="apps-sharp"></ion-icon>
                </span>
                <span class="title">Subject</span>
                <span class="icon-right">
                    <ion-icon name="caret-forward-sharp"></ion-icon>
                </span>
            </a>

            <ul class="side-dropdown">
                <li>
                    {% url 'add_subject' as add_subject %}
                    <a href="{{add_subject}}" class="nav-link {% if add_subject == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="add-circle-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Add Subject</span>
                    </a>   
                </li>
                <li>
                    {% url 'manage_subject' as manage_subject %}
                    <a href="{{manage_subject}}"class="nav-link {% if manage_subject == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="newspaper-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Manage Subject</span>
                    </a>   
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="person-sharp"></ion-icon>
                </span>
                <span class="title">Teacher</span>
                <span class="icon-right">
                    <ion-icon name="caret-forward-sharp"></ion-icon>
                </span>
            </a>

            <ul class="side-dropdown">
                <li>
                    {% url 'add_teacher' as add_teacher %}
                    <a href="{{add_teacher}}" class="nav-link {% if add_teacher == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="add-circle-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Add Teacher</span>
                    </a>   
                </li>
                <li>
                    {% url 'manage_teacher' as manage_teacher %}
                    <a href="{{manage_teacher}}" class="nav-link {% if manage_teacher == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="newspaper-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Manage Teacher</span>
                    </a>   
                </li>
                
            </ul>
        </li>
        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="people-sharp"></ion-icon>
                </span>
                <span class="title">Student</span>
                <span class="icon-right">
                    <ion-icon name="caret-forward-sharp"></ion-icon>
                </span>
            </a>

            <ul class="side-dropdown">
                <li>
                    {% url 'add_student' as add_student %}
                    <a href="{{add_student}}" class="nav-link {% if add_student == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="add-circle-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Add Student</span>
                    </a>   
                </li>
                <li>
                    {% url 'manage_student' as manage_student %}
                    <a href="{{manage_student}}" class="nav-link {% if manage_student == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="newspaper-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Manage Student</span>
                    </a>   
                </li>
                
            </ul>
        </li>
        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="book-sharp"></ion-icon>
                </span>
                <span class="title">Book</span>
                <span class="icon-right">
                    <ion-icon name="caret-forward-sharp"></ion-icon>
                </span>
            </a>

            <ul class="side-dropdown">
                <li>
                    {% url 'add_book' as add_book %}
                    <a href="{{add_book}}" class="nav-link {% if add_book == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="add-circle-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Add Book</span>
                    </a>   
                </li>
                <li>
                    {% url 'manage_book' as manage_book %}
                    <a href="{{manage_book}}" class="nav-link {% if manage_book == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="newspaper-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Manage Book</span>
                    </a>   
                </li>
                
            </ul>
        </li>
        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="share-sharp"></ion-icon>
                </span>
                <span class="title">Testimonials</span>
            </a>
         </li>
         <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="chatbubbles-sharp"></ion-icon>
                </span>
                <span class="title">Feedback</span>
            </a>
         </li>
         <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="walk-sharp"></ion-icon>
                </span>
                <span class="title">Leave</span>
            </a>
         </li>
         <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="megaphone-sharp"></ion-icon>
                </span>
                <span class="title">Notice</span>
                <span class="icon-right">
                    <ion-icon name="caret-forward-sharp"></ion-icon>
                </span>
            </a>
            <ul class="side-dropdown">
                <li>
                    {% url 'add_notice' as add_notice %}
                    <a href="{{add_notice}}" class="nav-link {% if add_notice == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="add-circle-sharp"></ion-icon>
                        </span>
                        <span class="title">Add Notice</span>
                    </a>
                </li>
                <li>
                    {% url 'view_notice' as view_notice %}
                    <a href="{{view_notice}}" class="nav-link {% if view_notice == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="newspaper-sharp"></ion-icon>
                        </span>
                        <span class="title">Manage Notice</span>
                    </a>
                </li>
                <li>
                    {% url 'view_leave' as view_leave %}
                    <a href="{{view_leave}}" class="nav-link {% if view_leave == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="newspaper-sharp"></ion-icon>
                        </span>
                        <span class="title">Leave</span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            {% url 'view_timetable' as view_timetable %}
            <a href="{{view_timetable}}" class="nav-link {% if view_timetable == request.path %} active {% endif %}">
                <span class="icon">
                    <ion-icon name="timer-sharp"></ion-icon>
                </span>
                <span class="title">Time Table</span>
            </a>
         </li>
        
         <li>
            {% url 'admin_profile' as admin_profile %}
            <a href="{{admin_profile}}" class="nav-link {% if admin_profile == request.path %} active {% endif %}">
            {% comment %} <a href="#"> {% endcomment %}
                <span class="icon">
                    <ion-icon name="settings-sharp"></ion-icon>
                </span>
                <span class="title">Setting</span>
            </a>
         </li>
         

    </ul>
    {% elif request.user.user_type == '2' %}
    <a href="{% url 'teacher_home_page' %}" class="brand-link"></a>
    <a href="#" class="brand">
        <span class="homeicon">
            <ion-icon name="logo-apple-appstore"></ion-icon>
        </span>
        Teacher Panel
    </a>
    <ul class="side-menu">
        <li>
            {% url 'teacher_home_page' as teacher_home_page %}
            <a href="{{teacher_home_page}}" class="nav-link {% if teacher_home_page == request.path %} active {% endif %}">
                <span class="icon">
                    <ion-icon name="home-sharp"></ion-icon>
                </span>
                <span class="title">Home</span>
            </a>
         </li>
         <li>
            {% url 'manage_notes' as manage_notes %}
            <a href="{{manage_notes}}" class="nav-link {% if manage_notes == request.path %} active {% endif %}">
                <span class="icon">
                    <ion-icon name="create-sharp"></ion-icon>
                </span>
                <span class="title">Notes</span>
            </a>
         </li>
         <li>
            {% url 'manage_question' as manage_question %}
            <a href="{{manage_question}}" class="nav-link {% if manage_question == request.path %} active {% endif %}">
                <span class="icon">
                    <ion-icon name="help-circle-sharp"></ion-icon>
                </span>
                <span class="title">Questions</span>
                
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="book-sharp"></ion-icon>
                </span>
                <span class="title">Book</span>
                <span class="icon-right">
                    <ion-icon name="caret-forward-sharp"></ion-icon>
                </span>
            </a>

            <ul class="side-dropdown">
                <li>
                    {% url 'add_book' as add_book %}
                    <a href="{{add_book}}" class="nav-link {% if add_book == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="add-circle-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Add Book</span>
                    </a>   
                </li>
                <li>
                    {% url 'manage_book' as manage_book %}
                    <a href="{{manage_book}}" class="nav-link {% if manage_book == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="newspaper-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Manage Book</span>
                    </a>   
                </li>
                
            </ul>
        </li>
        <li>
            {% url 'view_notice' as view_notice %}
            <a href="{{view_notice}}" class="nav-link {% if view_notice == request.path %} active {% endif %}">
                <span class="icon">
                    <ion-icon name="megaphone-sharp"></ion-icon>
                </span>
                <span class="title">Notice</span>
            </a>
        </li>
        <li>
            {% url 'apply_leave' as apply_leave %}
            <a href="{{apply_leave}}" class="nav-link {% if apply_leave == request.path %} active {% endif %}">
                <span class="icon">
                    <ion-icon name="walk-sharp"></ion-icon>
                </span>
                <span class="title">Apply Leave</span>
            </a>
        </li>
        <li>
            {% url 'bookmark_book' as bookmark_book %}
            <a href="{{bookmark_book}}" class="nav-link {% if bookmark_book == request.path %} active {% endif %}">
            {% comment %} <a href="#"> {% endcomment %}
                <span class="icon">
                    <ion-icon name="bookmark-sharp"></ion-icon>
                </span>
                <span class="title">Bookmark</span>
            </a>
         </li>
        <li>
            {% url 'teacher_profile' as teacher_profile %}
            <a href="{{teacher_profile}}" class="nav-link {% if teacher_profile == request.path %} active {% endif %}">
            {% comment %} <a href="#"> {% endcomment %}
                <span class="icon">
                    <ion-icon name="settings-sharp"></ion-icon>
                </span>
                <span class="title">Setting</span>
            </a>
         </li>
    </ul>

    {% elif request.user.user_type == '3' %}
    <a href="{% url 'teacher_home_page' %}" class="brand-link"></a>
    <a href="#" class="brand">
        <span class="homeicon">
            <ion-icon name="logo-apple-appstore"></ion-icon>
        </span>
        Student Panel
    </a>
    <ul class="side-menu">
        <li>
            {% url 'view_aa' as view_notice %}
            <a href="{{view_notice}}" class="nav-link {% if view_notice == request.path %} active {% endif %}">
                <span class="icon">
                    <ion-icon name="megaphone-sharp"></ion-icon>
                </span>
                <span class="title">Notes</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="book-sharp"></ion-icon>
                </span>
                <span class="title">Book</span>
                <span class="icon-right">
                    <ion-icon name="caret-forward-sharp"></ion-icon>
                </span>
            </a>

            <ul class="side-dropdown">
                <li>
                    {% url 'add_book' as add_book %}
                    <a href="{{add_book}}" class="nav-link {% if add_book == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="add-circle-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Add Book</span>
                    </a>   
                </li>
                <li>
                    {% url 'manage_book' as manage_book %}
                    <a href="{{manage_book}}" class="nav-link {% if manage_book == request.path %} active {% endif %}">
                        <span class="icon">
                            <ion-icon name="newspaper-sharp"></ion-icon>
                        </span>
                        <span class="sub-title">Manage Book</span>
                    </a>   
                </li>
                
            </ul>
        </li>
        <li>
            {% url 'student_view_question' as student_view_question %}
            <a href="{{student_view_question}}" class="nav-link {% if student_view_question == request.path %} active {% endif %}">
                <span class="icon">
                    <ion-icon name="help-circle-sharp"></ion-icon>
                </span>
                <span class="title">Questions</span>
                
            </a>
        </li>
        <li>
            {% url 'view_notice' as view_notice %}
            <a href="{{view_notice}}" class="nav-link {% if view_notice == request.path %} active {% endif %}">
                <span class="icon">
                    <ion-icon name="megaphone-sharp"></ion-icon>
                </span>
                <span class="title">Notice</span>
            </a>
        </li>
        
    </ul>
    <!-- /.content -->
    {% block content %}

    {% endblock content %}

    {% endif %}
    <ul class="side-menu">
        <li style="background: #990000;border-radius: 10px;">
            <a href="{% url 'logout' %}">
                <span class="icon">
                    <ion-icon name="log-out-sharp"></ion-icon>
                </span>
                <span class="title">Logout</span>
            </a>
        </li>
    </ul>
</aside> 