{% load static %}
<style>
    .page{
        top: 50%;
        left: 50%;
        width: 30em;
        height: 18em;
        margin-top: -9em;
        margin-left: -15em;
        position: fixed;
    }
    h1 {
        color: #001A4D;
        text-align: center;
        font-size: 9em;
        margin: 0;
        text-shadow: -1px 0 #BFC0C0, 0 1px #BFC0C0, 1px 0 #BFC0C0, 0 -1px #BFC0C0;
      }
    h3 {
        font-size: 2em;
        text-transform: uppercase;
        text-align: center;
        color: #BFC0C0;
        margin-top: -20px;
        font-weight: 900;
      }
</style>


<div class="page">
    <h1>404</h1>
    <h3>page not found</h3>
</div>
  