{% extends 'base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}
<style>

    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        float:right;
        margin-right: 1rem;
      }
      
      .step-links a {
        padding: 0.5rem 1rem;
        background-color: #e1e1e1;
        color: #333;
        text-decoration: none;
        margin-right: 0.5rem;
        border-radius: 5px;
      }
      
      .step-links a:hover {
        background-color: #333;
        color: #fff;
      }
      
      .current-page {
        padding: 0.5rem 1rem;
        background-color: #333;
        color: #fff;
        margin-right: 0.5rem;
        border-radius: 5px;
      }
      .attend{
        float:right;
        margin-right:30px;
        margin-bottom:40px;
      }
</style>

{% if request.user.user_type == '2' %}
<div class='attend'>
  <a href='{% url "create_attendance" session_id section_id %}' class="btn btn-primary">Take</a>
  <a href='{% url "edit_attendance" session_id section_id %}' class="btn btn-primary">Edit</a>
  <a href='{% url "teacher_download_all_attendance" session_id section_id %}' class="btn btn-success">Report</a>
</div>
{% endif %}
  <section class="content">
    <div class="container-fluid">
       {% comment %}  <table class='table'>
            <thead>
                <tr>
                  <th>Student Name</th>
                  <th>Date</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                {% for student in students %}
                  {% for attend in attendance %}
                    {% if attend.student == student %}
                      <tr>
                        <td>{{ student.admin.first_name }} {{ student.admin.last_name }}</td>
                        <td>{{ attend.date }}</td>
                        <td>
                          {% if attend.present %}
                            Present
                          {% else %}
                            Absent
                          {% endif %}
                        </td>
                      </tr>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              </tbody>
          </table>
    </div>
</section> {% endcomment %}


{% for month, records in attendance_by_month_paginated %}

  <h3 style='text-align:center;'>Attendance of {{ month }}</h3>
  <table class='table'>
    <thead>
      <tr>
        <th>Student Name</th>
        <th>Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
        {% for student in students %}
          {% for attend in records %}
            {% if attend.student == student %}
              <tr>
                <td>{{ student.admin.first_name }} {{ student.admin.last_name }}</td>
                <td>{{ attend.date }}</td>
                <td>
                  {% if attend.present %}
                    Present
                  {% else %}
                    Absent
                  {% endif %}
                </td>
               
              </tr>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </tbody>

  </table>
  <div class="pagination">
    <span class="step-links">
      {% if attendance_by_month_paginated.has_previous %}
        <a href="?page=1"> &laquo;</a>
        <a href="?page={{ attendance_by_month_paginated.previous_page_number }}">{{ attendance_by_month_paginated.previous_page_number }}</a>
      {% endif %}
      <span class="current-page">
        {{ attendance_by_month_paginated.number }}
      </span>
      {% if attendance_by_month_paginated.has_next %}
        <a href="?page={{ attendance_by_month_paginated.next_page_number }}">{{ attendance_by_month_paginated.next_page_number }}</a>
        <a href="?page={{ attendance_by_month_paginated.paginator.num_pages }}">&raquo; </a>
      {% endif %}
    </span>
  </div>
{% endfor %}

</div>
</section> 

{% endblock content %}